body{
 height: 2000px;
 background: navy url("../images/Aerial06.jpg")top center no-repeat fixed;
 background-size: cover;
 postion: relative;
}
/*
div{
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 position: fixed;
 z-index: -1;
}

div#navy{
 background-color: navy;
}
div#image{
  background-image: url("../images/Aerial06.jpg");
  top: -100%;
}
div#blue{
 background-color: blue;
 top: -200;
}
*/
div{
 width: 100%;
 height: 50%;
 text-align: center;
 vertical-align: middle;
 font-size: 80px;
 position: fixed;
 z-index: -1;
}


div#navy{
  opacity: 0;
}

div#image{
  bottom: -10;
  left: 0px;
  background-color: white;
}

div#title{
  color: white;
}

h1{
  position: fixed;
  bottom:50%;
  left: 25%;
}
